{% extends 'registration/auth-layout.html' %}
{% load static %}

{% block title %}<title>Password Reset | FileBox</title>{% endblock %}


{% block auth-container %}
    <section class="auth-container">
        <div class="login-form auth-form">
            <header class="header sticky-top">
                <img src="{% static 'accounts/images/logo.png' %}" alt="logo" class="logo">
            </header>
            <div class="form-heading">
                <P class="mail-icon text-center"><i class="fa fa-check"></i></P>
                <h1 class="text-center">Password Changed!</h1>
                <p class="text-center">Your password has been changed successfully! You may go ahead and <a href="{% url 'login' %}">log in</a> now.</p>
            </div>
        </div>
    </section>
{% endblock %}

