{% extends 'registration/auth-layout.html' %}
{% load static %}

{% block title %}<title>Password Reset | FileBox</title>{% endblock %}

{% block auth-container %}
    <section class="auth-container">
        <div class="login-form auth-form">
            <header class="header sticky-top">
                <img src="{% static 'accounts/images/logo.png' %}" alt="logo" class="logo">
            </header>
            <div class="form-heading">
                <h2 class="text-center">Set a New Password</h2>
                <p class="text-center">Set a new password for your FileBox account</p>
            </div>
            <br>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <div class="error">
                                {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                {% if form.non_field_errors %}
                    <div class="error">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <input type="submit" value="Change my password" class="my-btn submit-btn">
            </form>
        </div>
    </section>
{% endblock %}

