{% extends 'registration/auth-layout.html' %}
{% load static %}

{% block title %}<title>Password Reset | FileBox</title>{% endblock %}


{% block auth-container %}
    <section class="auth-container">
        <div class="login-form auth-form">
            <header class="header sticky-top">
                <img src="{% static 'accounts/images/logo.png' %}" alt="logo" class="logo">
            </header>
            <div class="form-heading">
                <h1 class="text-center">Reset Password</h1>
                <p class="text-center">Enter the email address associated with your account to get started</p>
            </div>
            <br>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Continue" class="my-btn submit-btn">
            </form>
        </div>
    </section>
{% endblock %}

